@CHARSET "UTF-8";

h4{
	text-align: left;
	margin-left: 3em;
	font-size: 2em;
}

form{
	background-color: white;
	width: 78%;
	margin: 0 5px;
	text-align: center;
	vertical-align: middle;
}
form th{
	text-align: center;
}
table th{
	vertical-align: middle;
}

.innerTable td{
	vertical-align: middle;
	
}

.pay_way{
	position: relative;
}

.pay_way_radio{
	border:1px solid red;
	width: 30%;
	height: 10em;
	float: left;
	
	
	
	
}
.pay_way_form{
	
	border:1px solid blue;
	
	width: 70%;
	height: 10em;
	margin-left: 30%;
	
}


.banner{
	width:20%;

	background-color: white;
	margin:0 5px;
	
	position:fixed;
	right:5px;
	top:6em;
	border: none;
	border-collapse: none;
}

.left{
	text-align: left;
}
.right{
	text-align: right;
}

.last_fee th{
	color:orange;
	font-weight: bold;
	font-size: 1.5em;
	
}