@CHARSET "UTF-8";

div.clear {
	clear: both;
}

section.paySection {
	margin-bottom: -40px;
}

div.payContainer { /* 내용물 전체 */
	width: 1080px;
	margin: 30px auto;
	border: 1px solid blue; /* 확인용 */
}

div.payContainer form {
	border: 1px solid red; /* 확인용 */
	background-color: white;
	width: 700px;
	text-align: center;
	vertical-align: middle;
	padding-top: 50px;
	margin: 0 auto;
	font-size: 14px;
}

div.payContainer form h1 { /* 제목 */
	font-size: 20px;
	color: #000;
}

div.payContainer form input[type="text"] {
	font-size: 12px;
	background-color: #fff;
}

/* 결제정보 테이블 */
div.billInfo {
	margin: 0;
	background-color: #fff;
}

div.billInfo table th {
	background-color: #f0f0f0;
	text-align: center;
}

div.billInfo table td {
	background-color: #fff;
	text-align: center;
}

/* 구매 정보 테이블 */
div.buyInfo {
	padding: 30px 0 10px 0;
	margin: 0;
	background-color: #f0f0f0;
}

div.buyInfo table th {
	background-color: #f0f0f0;
}

div.buyInfo table td {
	background-color: #f0f0f0;
}

div.buyInfo table table.buyer {
	background-color: #f0f0f0;
	margin: 0;
}

div.buyInfo table table.buyer tr {
	padding: 0;
	margin: 0;
}

div.buyInfo table table.buyer td {
	background-color: #f0f0f0;
}

div.buyInfo table table.buyer input {
	background-color: #f0f0f0;
	border: none;
}

/* 할인혜택 */
div.onSale {
	background-color: #fff;
	padding: 30px 0 10px 0;
}

/* 결제수단 */
div.mpayment {
	background-color: #f0f0f0;
	padding: 30px 0 10px 0;
}

div.mpayment div.pay_way { /* 결제수단 라디오 버튼 div */
	text-align: left;
	margin: 0 30px;
}

div.mpayment div.pay_way_radio { /* 결제수단 라디오 버튼 */
	float: left;
	margin-bottom: 10px;
}

div.mpayment div.pay_way_form {
	border: 1px solid red; /* 확인용 */
	margin: 0px 30px;
}

div.mpayment div.pay_way_form select {
	font-size: 12px;
	background-color: #f0f0f0;
}

div.mpayment div.pay_way_form input {
	font-size: 12px;
	background-color: #f0f0f0;
}

/* 최종 결제 정보 */
.result_banner {
	width: 400px;
	background-color: white;
	margin: 0 5px;
	position: fixed;
	right: 5px;
	top: 100px;
	border: none;
	border-collapse: none;
	height: 1000px;
	opacity: 0.9;
	font-size: 14px;
}

@media screen and (min-width:1360px) and (max-width:1600px) {
	.result_banner {
		width: 300px;
		background-color: white;
		margin: 0 5px;
		position: fixed;
		border: none;
		border-collapse: none;
		height: 800px;
		opacity: 0.9;
		font-size: 12px;
	}
	
}

@media screen and (min-width:1250px) and (max-width:1359px) {
	.result_banner {
		width: 250px;
		background-color: white;
		margin: 0 5px;
		position: fixed;
		border: none;
		border-collapse: none;
		height: 600px;
		opacity: 0.9;
		font-size: 11px;
	}
}

@media screen and (max-width:1249px) {
	.result_banner {
		width: 700px;
		background-color: white;
		margin: 0 auto;
		position: static;
		border: none;
		border-collapse: none;
		height: 540px;
		opacity: 0.9;
		font-size: 12px;
		padding-top: 10px;
	}
}

.result_banner h1 {
		font-size: 20px;
		color: #000;
		margin-top: 10px;
	}
	.result_banner .pay_button {
		width: 200px;
		right: 10px;
		bottom: 5px;
		background-color: orange;
	}
	.result_banner .pay_button:hover {
		background-color: #f55;
	}
	.result_banner h4 {
		margin-top: 1.5em;
		text-align: center;
		font-size: 2em;
		padding-bottom: 1.5em;
		border-bottom: 5px solid #484848;
	}
	.result_banner div {
		margin: 20px;
	}
	.agree_check {
		border: 1px solid #666;
		padding: 1em;
	}
	.popup_check {
		border: 1px solid #a40001;
		margin: 0;
	}
	.popup_check span {
		color: #a40001;
	}
	.result {
		border: 3px solid #fff;
	}
	.result table {
		background-color: white;
	}
	.result span {
		color: orange;
		text-align: left;
		font-size: 1.5em;
		font-weight: bold;
	}
	.final_price {
		color: gold;
		text-align: right;
		font-size: 1.5em;
		text-shadow: 1px 1px 1px #000;
	}
	.left {
		text-align: left;
	}
	.right {
		text-align: right;
	}
	.last_fee th {
		color: orange;
		font-weight: bold;
		font-size: 1.5em;
	}