@CHARSET "UTF-8";

form{
	background-color: white;
	width: 80%;
	margin: auto;
	text-align: center;
}


.banner{
	width:200px;
	height:500px;
	background-color: white;
	opacity:0.8;
	position:fixed;
	right:5px;
	top:150px;
}