@CHARSET "UTF-8";

/* 공통 */
.clear {
	clear: both;
}

/* join.jsp */
section.joinSection {
	background-color: #f0f0f0;
	margin-top: -35px;
	margin-bottom: -35px;
}
div.joinContainer {
	width: 1080px;
	margin: 30px auto;
	font-size: 14px;
}
div.join_div {
	padding: 30px;
}
div.join_div form {
	width: 480px;
	margin: 0 auto 100px auto;
	border: 3px solid #f32853;
	padding: 40px;
	background-color: #fff;
}
div.join_div h1 {	/* 제목 */
	font-size: 28px;
	margin-top: 30px;
	text-align: center;
}
div.join_div h4 {	/* 제목 밑 설명 */
	font-size: 16px;
	color: #333;
}
div.join_div label {
	margin-bottom: -7px;
}
input[type="text"], input[type="email"], input[type="password"] {
	padding: 3px 10px;
	width: 400px;
	height: 35px;
	background-color: #fff;
	margin-bottom: 10px;
	font-size: 14px;
}
div.join_div #randomNum {	/* 인증번호 */
	display: none;
}
div.join_div .email_btn {	/* 인증번호 전송 버튼 */
	float: left;
	margin-top: -5px;
}
div.join_div .email_check_input {
	float: left;
	width: 150px;
	margin-left: 10px;
	margin-top: -5px;
}
div.join_div input[type="submit"], div.join_div input[type="reset"] {
	font-size: 14px;
}
div.join_div input[type="submit"] {
	margin-right: 30px;
}
div.join_div div.join_btn {
	margin-top: 30px;
	text-align: center;
}