/* 회원정보 관리에 관한 스타일 */


.clear {
	float: clear;
}

/* 회원정보로 들어가기전 팝업 메뉴 */
div.memberManagerNav {
	padding: 0;
	margin: 0;
	
	border: 2px solid #000;
	background-color: white;
	
	position: fixed;
	right: 5px;
	top: 6em;
	
	width: 305px;
	height: 110px;
	
	display: none;
	z-index: 9;
}

div.memberManagerNav img {
	float: left;
}

div.memberManagerNav ul {
	float: left;
	padding: 0;
}

div.memberManagerNav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.memberManagerNav li a {
	display: block;
	border: 1px solid #ccc;
	
	text-decoration: none;
	color: #777;
	
	padding: 4px 62px;
	margin: 4px 2px 3px 3px;
	
	font-size: 0.9em;
	color: #888;
}

div.memberManagerNav li a:hover {
	background-color: #f0f0f0;
}










