/* 회원정보 관리에 관한 스타일 */

.clear {
	float: clear;
}

/* 회원정보로 들어가기전 팝업 메뉴 시작 */
div.memberManagerNav {
	padding: 0;
	margin: 0;
	
	border: 2px solid #000;
	background-color: white;
	
	position: fixed;
	right: 5px;
	top: 6em;
	
	width: 305px;
	height: 124px;
	
	display: none;
	z-index: 9;
}

div.memberManagerNav img {
	float: left;
}

div.memberManagerNav ul {
	position: absolute;
	padding: 0;

	left: 105px;
	top: 10px;
}

div.memberManagerNav li {
	list-style: none;
	margin: 0;
	padding: 0;
}

div.memberManagerNav li a {
	display: block;
	border: 1px solid #ccc;
	
	text-decoration: none;
	color: #777;
	
	padding: 4px 62px;
	margin: 4px 2px 3px 3px;
	
	font-size: 0.9em;
	color: #888;
}

div.memberManagerNav li a:hover {
	background-color: #f0f0f0;
}

/* 회원정보로 들어가기전 팝업 메뉴 끝 */

/* --------------------------------------- */

/* 회원정보 관리 페이지  시작 */

/* 메인 전체 */
div.container {
	position: relative;
}

/* 서브메뉴 */
div#submenu {
	border: 1px solid #ccc;
	
	width: 200px;
	min-height: 480px;

	position: absolute;

/* 	margin-top: 40px; */
	padding: 1px;
}

div#submenu ul {
	padding: 0;
	margin: 0;
	
	font-size: 14px;
	font-family: "나눔 고딕", "맑은고딕", sans-serif;

	list-style: none;
}

div#submenu li {
	padding: 0;
	margin: 0;
}

div#submenu li a {
	border-bottom: 1px solid #ccc;
	
	text-decoration: none;
	color: #0366d6;
	
	display: block;
	margin: 0;

	padding: 5px 0 5px 5px;
	margin: 0;
}

div#submenu li a:hover {
	background-color: #f0f0f0;
	color: #FF5E00;
	font-weight: bold;
}

div#submenu li hr {
	margin: 20px 7px 20px 7px;
	background-color: #ccc;
}

/* 컨텐츠 부분 공통 */

div.content {	
	padding: 0;

	width: 80%;
	min-width: 600px;
	min-height: 400px;
	
	position: relative;
	
	left: 230px;
}

/* 회원정보 */
div.content_member_info {
	border: 1px solid #ccc;
}
div.content_member_info h1 {	/* 제목 */
	border-bottom: 0;
	padding: 12px;
	margin: 0;
	
	font-size: 1.4em;
	background-color: #D4F4FA;
}
div.content_member_info .info_form th {
	width: 150px;
}
div.content_member_info .info_form input[type="text"] {
	border: 1px solid #ccc;
	background-color: rgba(255, 255, 255, 0.1);
}
div.content_member_info .info_form img {
	border: 1px solid #f0f0f0;
	margin: 0;
	float: left;
}

div.content_member_info .info_form img#right_arrow {	/* 미리보기 이미지 가르키는 화살표 div */
	width: 60px;
	height: 60px;
	border: none;
	
	position: relative;
	left: 40px;
	
	display: none;
}

div.content_member_info .info_form div#previewImg {	/* 이미지 바뀔때 미리보기 div */
	width: 100px;
	height: 100px;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale);
	
	position: absolute;
	left: 400px;
	
	display: none;
}

div.content_member_info .info_form .form_btn {
	text-align: center;
	padding: 10px;
}
div.content_member_info .info_form .form_btn input[type="submit"] {
	margin-right: 40px;
}



/* 비밀번호 변경 */
div.content_member_passUpdate {
	border: 1px solid #ccc;
}
div.content_member_passUpdate h1 {	/* 제목 */
	border-bottom: 0;
	padding: 12px;
	margin: 0;
	
	font-size: 1.4em;
	background-color: #D4F4FA;
}
div.content_member_passUpdate .pass_form th {
	width: 150px;
}
div.content_member_passUpdate .pass_form input[type="password"] {
	border: 1px solid #ccc;
	background-color: rgba(255, 255, 255, 0.1);
}
div.content_member_passUpdate .pass_form .form_btn {
	text-align: center;
	padding: 10px;
}
div.content_member_passUpdate .pass_form .form_btn input[type="submit"] {
	margin-right: 40px;
}
/* 회원정보 관리 페이지  끝 */





















