@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);

 .q {
	border-radius: 30px;

}

.w {
	padding-right: 300px;
	margin-left: 10%;
	
}

.e {
	border: 2px solid #e2dfdf;
	border-radius: 40px;
	padding :20px;
	padding-top:40px;
	width: 600px;
	background-color:rgba(0, 0, 0, 0.6) !important;
	margin-left:50px;
	margin-bottom: 100px;
	height: 800px;
}

/* 수정 삭제 댓글 버튼 부분 시작 */
.upde {
	/* border: 2px solid red; */
	height: 80px;
	position: relative;
	top:250px;
}
.upde input[type=button]{
	/* border: 2px solid red; */
	float:left ;
	padding: 0 1.5em ;
	margin: 0;
	position: absolute;
	top: 10px;
	border-radius:50px;
	background-color: rgba(0, 188, 212, 0.5);
	}
.upde input[type=button]:nth-of-type(1){
	left:0px;
}
.upde input[type=button]:nth-of-type(2){
	left:80px;
}
.upde input[type=button]:nth-of-type(3){
	right:0px;
	
}

.upde input[type=button]:HOVER{
	background-color: #4e4b56;
}
/* 수정 삭제 댓글 버튼 부분  끝*/


#ima{
	background-image: url("./beach2.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.btn_up_layer {
	position: fixed;
	right: 15px;
	bottom: 20px;
	display: none;
	background-color: white;
	margin-bottom: 30px;
	padding: 5px 10px;
	z-index: 5;
	margin-bottom:15px;
	background-color: rgba(255,255,255,0);
}

.btn_up_layer:hover {
	background-color: rgba(255,255,255,0);
	
}

.write{
	position:fixed;
	margin-top: 3em;
	margin-left: 1em;
}

#sub {
	text-align: center;
	color:white
	font-family: 'Hanna', serif;
	font-size: 1.5em;
	color:white;
	margin-bottom: 20px;
}

#con {
	width: 70%;
	height:80%;
	padding-top : 1em;
	float: right;
	position: relative;
	overflow-y : auto;
	word-wrap : break-word;
	font-family: 'Hanna', serif;
	color:white;
}

#file {
	width: 100px;
	border-radius: 250px;
	margin: auto;
	color:white;
	margin-bottom: 5px;
}

#nick{
	text-align: center;
	font-size: 1.5em;
	font-family: 'Hanna', serif;
	color:white
}
#date{
	text-align: center;
	color:white
}

/* 프로필 이미지 */
#file img {
	
	width: 100px;
	height: 100px;
	border-radius: 250px;
}
/* 프로필 이미지 끝 */

/* chat css */
#chat{
	width: 20%;
	min-width:100px;
/* 	height: 75em; */
	position:fixed;
	top:7em;
	right:0;
	z-index: 5;

/* 	margin-bottom: 80px; */
/* 	margin-right: 100px; */
	
}

#chat input{
	min-width: 100px;
}
/* chat css 끝 */


.gl {
	position: fixed;
}

@
-webkit-keyframes fadeIn {from { opacity:0;
	opacity: 1\9; IE9 only
}

to {
	opacity: 1;
}

}
@
-moz-keyframes fadeIn {from { opacity:0;
	opacity: 1\9; IE9 only
}

to {
	opacity: 1;
}

}
@
keyframes fadeIn {from { opacity:0;
	opacity: 1\9; IE9 only
}

to {
	opacity: 1;
}

}
.fadein {
	opacity: 0; make things invisible upon start
	-webkit-animation: fadeIn ease-in 1;
	call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}
.if{
	margin-right: 10px;
}

	#mit{
	background-color:rgba(0, 188, 212, 0.5);
	border-radius:20px;
	opcity:0.85;
	}
	#mit:hover {
	letter-spacing: 5px;
	background-color:#4e4b56;
	
}

.replybb{
	border: 2px solid #e2dfdf;
	border-radius: 40px;
	width: 400px;
	height: 600px; /* 수정부분 */
	display: none;
	background-color: rgba(0, 0, 0, 0.8)  !important;
	/* 아래가 수정부분  */
	position: absolute;
	top: 80px;
	left: 620px;
	margin: 0;
}

.up{
	position: absolute;
	margin-top: 300px; 
	opacity:0.85;
	font-size: 0.8em;
	border-radius:50px;
}
.re{
	position: absolute;
	float:right;
	display: block; 
	opacity:0.85;
	font-size: 12px;
	background-color: rgba(255,255,255,0.79);
	color: black;
}
.re:hover{
	background-color:#2196F3;
} 
.form1{
	border-right: 30px;
	max-width: 1080px;
}
#page1{
	border: 2px solid #8c8c8c;
	margin-left: 430px;
	font-size: 1.2em;
	text-decoration: color:black;
	background-color: rgba(246, 246, 246, 0.5);
	border-radius:30px;
	width: 180px;
}
#page2:hover{
	color: white;
	
}
.gl{
	background-color:rgba(0, 0, 0, 0.49);
	color: rgb(255, 255, 255);
}
#texta{
	background-color:rgba(0, 0, 0, 0.49);
	color: rgb(255, 255, 255);
}
#subject{
		background-color:rgba(0, 0, 0, 0.49);
	color: rgb(255, 255, 255);
}
.re_id{
	margin-top: 65px;
	width: 260px;
	margin-left: 60px;
	border-radius:30px;
	color: white;
	height: 80px;
}
#txt1{
	float:right;
	margin-bottom: 30px;
	font-size:0.8em;
	border-radius:200px;
}
#rp_con{
	background-color: white;
	color: black;
	border-radius:200px;
	width: 85%;
	text-align: center;
	margin-left: 30px;
	font-weight: bold;
}
#rp_nick{
	margin-left: 20px;
}
.page1{
	margin-left:130px; 
}