@CHARSET "UTF-8";

/* 지역(도시) 페이지 */

/* 첫번재 섹션 : 지역(도시) 정보 */
section#banner {
	/* 맨 윗부분 */
}
section.resion_one {
	position: relative;
}
section.resion_one div.resion_info table th {
	color: #fff;
	font-size: 1em;
	min-width: 82px;
}
section.resion_one div.resion_info table td {
	color: #fff;
	font-size: 0.9em;
}
section.resion_one div.resion_info_content {
/* 	width: 60%; */
	min-width: 600px;
	max-width: 1080px;
}

.checkbox{
	float: left;
	width: 50%;
}
.search_div{
	float: left;
	width: 50%;
}