@CHARSET "UTF-8";
section.planMain h3{
	padding:0 0 0.8em 1em;
	font-size: 1.8em;
	color: #f32853;
	border-bottom: 1px solid #c0c0c0; 
}

section.planMain h2{
	text-align: center;
	font-size: 2.5em;
}

section.planMain form h2{
	text-align: center;
	font-size: 3em;
}

/* 검색폼 */
div.Search{
	height: 17em;
	padding:0 auto;	
}

form.plan_search {
	padding:0px auto 0px auto;
	margin: 6em auto;
	width: 47.5em;	
}

form.plan_search select{
	width: 12.5em;
	float: left;
	height: 3em;
}

form input.search_text{
	width: 28.2em;
	float: left;
	height: 3em;
}

form input.serch_button{
	float: left;
}


/* 인기여행지 리스트 */
div.bestTrip {
	margin:2em auto;
	width: 110em;
}

div.bestTripMenu ul{
	padding-right:4.5em;
	text-align:right;
	float:right;
	list-style: none;
}

div.bestTripMenu ul li{
	float: left;
	margin-left:1.5em;
	font-size: 1.2em;
}

div.bestTripimg table {
	margin:auto;
	width:100em;
}

div.bestTripimg table tr{	
	background-color:#fff;
	height: 18em;
}

div.bestTripimg table td{
	overflow:hidden;
	text-align: center;
}

div.bestTripimg table td img{
	margin:2em 0;
}



/* 국가 리스트 */
div.countryList{
	width:100em;
	margin: 2em auto;
}

div.countryList div div{
	float:left;
	height:5em;
	width:24.9em;
	padding-left: 4.5em;
}

div.countryList div div a{
	font-size: 1.5em;
	text-decoration: none;
	font-weight:bold;
	color: #666;
}

div.countryList div div span{
	font-size: 1em;
	color: #999;
}



