@CHARSET "UTF-8";

/* 국가 페이지 */

body {
	background-color: #fff;
}

/* 첫번재 섹션 : 국가 정보 */
section#banner {
	/* 맨 윗부분 */
}
section.nation_one {
	/* position: relative; */
}
section.nation_one .nation_info_content {
	margin: 0 auto;
	padding: 0;
}
section.nation_one div.nation_info {
	background-color: #fff;
	
	width: 100%;
	margin: 50px auto;
}
section.nation_one h2 {
	display: block;
}
section.nation_one div.nation_info table {
	
}
section.nation_one div.nation_info table tr {
	border: none;
	background-color: #fff;
	
	display: block;
	margin-bottom: 10px;
}
section.nation_one div.nation_info table th {
	color: #000;
	font-size: 1em;
	min-width: 82px;
	border-right: 3px solid #ccc;

	width: 10em;
}
section.nation_one div.nation_info table td {
	color: #000;
	font-size: 0.9em;
}
section.nation_one div.nation_info_content {
	width: 1250px;
	min-width: 600px;
	padding: 0;
}
		/* 국가페이지 도시 이미지 슬라이드 planNation */
    	div.slideContainer {
    		z-index: 9;
    		width: 600px;
    		height: 400px;
    		background-color: rgba(255, 255, 255, 0);
    		float: left;
    	}
    	div.slideContainer div img {
    		width: 100%;
    		height: 100%;
    	}

		/* 지도  */
		section.nation_one div.map {
			padding: 0;
			width: 600px;
			height: 400px;
			z-index: 9;
			
			float: left;
			margin-left: 50px;
		}

/* 두번째 섹션 : 국가 리스트 */
section#nation_two {
	padding: 20px;
}
section#nation_two .container {
	margin: 20px auto;
	min-width: 900px;
}
section#nation_two .city_list_div {
	margin: 0;
}
section#nation_two .city_list_div table {
	min-height: 400px;
}
section#nation_two .city_list_div tr {
	display: block;
	margin-bottom: 20px;
}
section#nation_two .city_list_div tr:hover {
	cursor: pointer;
	box-shadow: 3px 2px 4px #ccc;
}
section#nation_two .city_list_div td {
	padding: 0;
	margin: 0;
}
section#nation_two .city_list_div .img_td {
	width: 300px;
	min-width: 300px;
	height: 180px;
	background-color: #fff;
	
	padding: 0;
}
section#nation_two .city_list_div .txt_td {
	width: 1100px;
	text-align: left;
	background-color: #fff;
	
	padding: 20px;
}
section#nation_two .city_list_div .txt_td:hover {
	background-color: #f0f0f0;
}
section#nation_two .city_list_div p {
	padding: 0;
	margin: 0;
}

section#nation_two div.search_div {	/* 검색 */
	float: right;
	position: relative;
	
	width: 420px;
}
section#nation_two div.search_div img {
	position: absolute;
	width: 25px;
	height: 25px;
	
	left: 5px;
	top: 5px;
}
section#nation_two div.search_div input[type="text"] {
	float: left;
	display: block;
	width: 300px;
	height: 35px;
	padding-left: 40px;
}
section#nation_two div.search_div input[type="submit"] {
	width: 100px;
	height: 35px;
	font-size: 0.8em;
}

section#nation_two .city_list_div .page a {
	font-size: 1.4em;
	font-weight: bold;
	text-decoration: none;
	border: 1px solid #ccc;
	padding: 3px 6px;
}
section#nation_two .city_list_div .page a:hover {
	background-color: #f0f0f0;
	color: #FF8224;
}


/* 국가 리뷰 커뮤니티 */
section.nation_four {	/* 리뷰 커뮤니티 전체 */
	font-size: 12px;
	background-color: #f7f7f7;
	margin-bottom: -35px;
	padding: 30px 0;
}
div.comment {	/* 내용물 전체를 감싸는 div */
	width: 1080px;
	min-height: 700px;
	margin: 0 auto;
	
	border: 1px solid red; /* 확인 */
}
div.comment h2 {
	padding: 10px;
	font-size: 25px;
	text-align: center;
}

/* 왼쪽 내용물(리스트) */
div.comment .review_list {	
	width: 70%;
	float: left;
	
	border: 1px solid blue;	/* 확인 */
}
div.comment .review_list tr {
	height: 150px;
}
div.comment .review_list td {
	background-color: #f7f7f7;
	position: relative;
	padding-top: 20px;
}
div.comment .review_list td:nth-of-type(1) {
	width: 92%;
}
div.comment .review_list td:nth-of-type(2) {
	width: 8%;
}
div.comment .review_list td img {
	width: 40px;
	height: 40px;
	border-radius: 25px;
}
div.comment .review_list td .c_nick {	/* 닉네임 */
	position: absolute;
	left: 60px;
	top: 15px;
	font-size: 14px;
	font-weight: 900;
}
div.comment .review_list td .c_date {	/* 글쓴 날짜 */
	position: absolute;
	left: 60px;
	top: 33px;
	color: #777;
	font-weight: 600;
}
div.comment .review_list td .c_eval {	/* 평가 */
	position: absolute;
	left: 60px;
	top: 70px;
	color: #FF7012;
	font-size: 13px;
}
div.comment .review_list td .c_content {	/* 본문 */
	position: absolute;
	left: 60px;
	top: 100px;
	
	font-size: 13px;
}


/* 오른쪽 내용물(리뷰작성 등) */
div.comment .comment_right {	
	width: 30%;
	float: right;
	
	border: 1px solid green;	/* 확인 */
}






















