@CHARSET "UTF-8";

/* 국가 페이지 */

/* 두번째 섹션 : 국가 리스트 */
section#nation_two {
	padding: 20px;
}
section#nation_two .container {
	margin: 20px auto;
	
	min-width: 900px;
}
section#nation_two .city_list_div {
	margin: 0;
}

section#nation_two .city_list_div tr {
	display: block;
	margin-bottom: 20px;
}
section#nation_two .city_list_div tr:hover {
	cursor: pointer;
}
section#nation_two .city_list_div td {
	padding: 0;
	margin: 0;
}
section#nation_two .city_list_div .img_td {
	width: 300px;
	min-width: 300px;
	height: 180px;
	background-color: #fff;
	
	padding: 0;
}
section#nation_two .city_list_div .txt_td {
	width: 1100px;
	text-align: left;
	background-color: #fff;
	
	padding: 20px;
}
section#nation_two .city_list_div p {
	padding: 0;
	margin: 0;
}


















