@CHARSET "UTF-8";

body {
	background-image: url("../../../images/instagram/goldengate.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	line-height: 1.75;
	text-align: center;
}

#combine {
	border: 1px solid red;
	margin: auto;
	width: 1300px;
	height: 50%;
	position: relative;
	min-height: 700px;
	padding: auto;
}

#question{
	opacity:0.8;	
}

.table1 {
	background-position: center top;
	background-attachment: fixed;
	margin: auto;
	line-height: 1.75;
	text-align: center;
	width: 70%;
	background-color: white;
	border-radius: 20px;
	margin-bottom: 10px;
}

#banner {
	border-radius:10px;
	text-align: left;
	width:10em;
	background-color: white;
	position: absolute;
	top: 150px;
	border-collapse: none;
	border: none;
	
}
#banner td{
	text-align:center;
	padding:3px;
}
#darkerlast{
background-color: rgba(77, 77, 77,0.3);	
border-radius:0 0 10px 10px;	
}
#darker{
background-color: rgba(77, 77, 77,0.3);
	
}
#banner a{
	color:black;
	text-decoration:none;
}
#banner a:hover{
	color:grey;
	font-weight: bolder;
	}
#table_search{
width: 70%;
margin: auto;
	}

#qandasearch{
	height:46px;
	width:30%;
	color:white;
	margin-left:50%;
	float:left;
	background-color: rgba(172, 0, 230,0.5);	
}

input.btn{
	margin-left: 0px;
	padding:auto auto;
	text-align: center;
}