@CHARSET "UTF-8";

body {
	background-image: url("../../../images/instagram/goldengate.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	line-height: 1.75;
	text-align: center;
}

.table1 {
	background-position: center top;
	background-attachment: fixed;
	margin: auto;
	line-height: 1.75;
	text-align: center;
	width: 70%;
	background-color: white;
	border-radius: 20px;
}

#banner {
	border:5px solid black;
	text-align: left;
	width: 10em;
	background-color: white;
	position: absolute;
	top: 100px;
	border-collapse: none;
	border: none;
}

#combine {
	margin: auto; 
	border : 5px solid black;
	width: 80em;
	height: 40em;
	position: relative;
	border: 5px solid black;
}