@CHARSET "UTF-8";
body {
	background-image: url("../../../images/beach.jpg");
	background-attachment: fixed;
	background-position: center top;
	background-size: cover;
	line-height: 1.75;
	text-align: center;
	hight:1500em;
}

#combine{
	margin: auto;
	width: 1400px;
	height: 50%;
	position: relative;
	color: #333;
	/* text-shadow: 1px 1px 2px #333; */
}



#banner {
	border-radius:10px;
	text-align: left;
	width:10em;
	background-color: white;
	position: absolute;
	top: 175px;
	border-collapse: none;
	border: none;
	
}
#banner td{
	text-align:center;
	padding:3px;
}
#darkerlast{
background-color: rgba(77, 77, 77,0.3);	
border-radius:0 0 10px 10px;	
}
#darker{
background-color: rgba(77, 77, 77,0.3);
	
}
#banner a{
	color:black;
	text-decoration:none;
}
#banner a:hover{
	color:grey;
	font-weight: bolder;
	}



#condition{
	padding:40px 30px 0 30px;
	height:500px;
	overflow-y:scroll;
	margin:60px 0 100px 215px;
	background-color:rgba(255, 255, 255,0.8);
	border-radius:30px ;
	width:70%;	
}
#condition span{
	font-size: 1.2em;
}
#h1{
	padding-top:20px;
	margin:0 auto;
	text-shadow:1px 1px 2px #333;
	width:70%;
	color:white;
	font-size: 2.7em;
	
}
