@CHARSET "UTF-8";




table{
	width:40%;
	margin:auto;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

textarea{
	
	width:40%;
	margin:auto;
	background-color: white;
	opacity: 0.85;
	
}

#txt{
	margin:0.1em;
	padding:0em;
	font-size:0.8em;
	color:black;
	width:2.8em;
	height:2.3em;
	border-radius: 0px;	
	float:right;
}

textarea{
	width:40em;
	height:5em;
	
}