@CHARSET "UTF-8";

#border{	
	width:40%;
	margin:auto;
	background-color: white;
	opacity: 0.85;
	border-radius: 20px;
}

#like{
color:black;
background-color: pink;
}

#dislike
{	
background-color: blue;	
border-radius: 20px;	
}

#likenum{
	background-image: url(''./instagram/heart.png'')
	
}
