@CHARSET "UTF-8";

section.updateFormSection{
	background-image: url("../../../images/instagram/beach.jpg");
	background-position: center center;
	background-size: cover;
}
		
div.combine {
	width: 1080px;
	margin: 0 auto;
	padding: 30px;
	font-weight: bold;
}

div.combine form {
	border: 1px solid red;	/* 확인용 */
	background-color: #fff;
	width: 700px;
	padding: 30px;
	border-radius: 30px;
	margin: 0 auto;
}

div.combine div.imgManager {	/* 이미지 관리 폼 */

}
div.combine div.imgManager div.left {	/* 왼쪽 *//
	width: 300px;
	float: left;
}
div.combine div.imgManager div.right {	/* 오른쪽 */
	float: right;
}
div.combine div.imgManager div.right #previewImg { /* 미리보기 div */
	border: 1px solid #f0f0f0;
	width: 250px;
	height: 250px;
}

div.combine div.btnDiv {	/* 버튼 모여있는 div */
	margin-top: 30px;
	text-align: center;	
}

