@CHARSET "UTF-8";

section.writeSection{
	background-image: url("../../../images/beach.jpg");
	background-size: cover;
	min-width: 1080px;
	margin-top: -40px;
	margin-bottom: -40px;
	}

div.writeContainer {
	position: relative;
	width: 1080px;
	margin-top: 30px;
	margin: 0 auto;
	padding: 100px;
}

#form{
	background-color:white;
	text-align:center;	
	font-size:1.5em;
	color:black;
	width:700px;
	height:700px;	
	font-weight:bold;
	opacity: 0.85;	
	border-radius: 20px;	
	margin: 0 auto;		
}

#submit{	
	width:150px;
	height:50px;
	padding:0;
	background-color: #ff6699;	
}

input[type=text]{
	margin-left:100px;
	width:500px;
}
textarea{
		margin-left:100px;	
		width:500px;
}



img#girl{
position: absolute;
right: 30px;
top: 100px;
animation-name:blinking;
animation-duration:3s;/*애니메이션의 진행시간(단위는 s나 ms)*/
animation-play-state:running;/*애니메이션의 자동실행 지정(running/paused)*/
animation-iteration-count:infinite;/*애니메이션의 진행횟수(무한반복)지정*/
animation-timing-function:cubic-bezier(.71,.31,.37,.87);/*애니메이션의  가속감속 지정*/
}
img#boy{
position: absolute;
left: 30px;
top: 100px;   
animation-name:blinking;
animation-duration:3s;/*애니메이션의 진행시간(단위는 s나 ms)*/
animation-play-state:running;/*애니메이션의 자동실행 지정(running/paused)*/
animation-iteration-count:infinite;/*애니메이션의 진행횟수(무한반복)지정*/
animation-timing-function:cubic-bezier(.71,.31,.37,.87);/*애니메이션의  가속감속 지정*/
}

@keyframes blinking{
0%{opacity:0;}
100%{opacity:1.0;}
}
